@using MvcApp.ServiceReference1
@{

    ViewBag.Title = "Phát thuốc";
    Layout = "~/Views/Shared/_LayoutPhatThuoc.cshtml";
    BenhNhan b = (BenhNhan)ViewBag.benhnhan;
    BacSi bs = (BacSi)ViewBag.bacsi;
    List<ChiTietToaThuoc> lst = (List<ChiTietToaThuoc>)ViewBag.chitiet;
    ToaThuoc toa = (ToaThuoc)ViewBag.toa;
    PhieuKham ph = (PhieuKham)ViewBag.phieu;
}
<style>
  
    td{
        padding-top:2px;
        padding-bottom:2px;
        padding-left:20px;
        padding-right:20px;
        
    }
</style>
<form id="formva" method="post">
    <h2> Phát thuốc</h2>
    <div style="border-top:1px double grey;border-bottom:1px double grey">
        <br />
    <h3>Thông tin toa thuốc</h3>
        <div class="form-group" style="width:100%;height:200px;">

            <div class="col-md-10" style="width:50%; float:left;">
                <label class="col-md-4">Mã bệnh nhân:</label>
                <input class="col-md-6" style="margin-bottom:10px" disabled value="@b.MaBenhNhan" />
                <br />
                <label class="col-md-4">Họ tên bệnh nhân:</label>
                <input class="col-md-6" style="margin-bottom:10px" disabled value="@b.HoTenBenhNhan" />
                <br />
                <label class="col-md-4">Địa Chỉ:</label>
                <input class="col-md-6" style="margin-bottom:10px" disabled value="@b.DiaChi" />
                <br />
                <label class="col-md-4">SĐT:</label>
                <input class="col-md-6" style="margin-bottom:10px" disabled value="@b.SDT" />
                <br />
                <label class="col-md-4">Tuổi:</label>
                <input class="col-md-6" style="margin-bottom:10px" disabled value="@b.Tuoi" />
            </div>
            <div class="col-md-10" style="width:50%;">
                <label class="col-md-4">Mã phiếu khám</label>
                <input class="col-md-6" style="margin-bottom:10px" disabled value="@toa.MaPhieuKham" />
                <br />
                <label class="col-md-4">Ngày khám</label>
                <input class="col-md-6" style="margin-bottom:10px" disabled value="@ph.NgayKham.ToString().Substring(0, 10)" />
                <br />
                <label class="col-md-4">Mã toa thuốc</label>
                <input class="col-md-6" style="margin-bottom:10px" disabled value="@toa.MaToaThuoc" />
                <br />
                <label class="col-md-4">Bác Sĩ khám</label>
                <input class="col-md-6" style="margin-bottom:10px" disabled value="@bs.TenBacSi" />
                
            </div>

        </div>
       
        <h3>Kết quả khám: </h3>
        <div class="form-group col-md-12">

            
            <textarea class="ketquakham" style="width:700px;height:80px" name="ketquakham" required readonly="readonly">@toa.KetQuaKhamBenh</textarea>
            <br /><br />
        </div>
        <h3>Danh sách thuốc dùng: </h3>
        <div class="form-group col-md-12" id="bangthuoc">
            @{

                foreach (var it in lst)
                {
                    <div>
                        <input hidden="hidden" class="myVar" value="@it.MaThuoc" readonly="readonly">
                        <div class="form-group col-md-4">
                            <b>Tên Thuốc sử dụng</b><br />
                            @*@Html.DropDownList("dsthuoc", null, htmlAttributes: new { @class = "form-control" })*@
                            <select class="form-control dsthuoc" name="dsthuoc" readonly="readonly"></select>

                        </div>
                        <div class="form-group col-sm-2">
                            <b>Số lượng :</b>
                            <input class="form-control soluong" name="soluong" type="number" onkeypress="return event.charCode >= 48" min="1" required value="@it.SoLuong" readonly="readonly">
                        </div>
                        <div class="form-group col-sm-3">
                            <b>Số Liều dùng :</b>
                            <input class="form-control lieudung" name="lieudung" required value="@it.LieuDung"  readonly="readonly"/>
                        </div>
                        <div class="form-group col-sm-2">
                            <b>Tổng tiền :</b>
                            <input class="form-control tongtien" name="tongtien" required value="@it.TongTien" readonly="readonly"/>
                        </div>
                        <div class="form-group col-md-1">
                            <br />
                            <button type="button" class="btn btn-info chitiet hidden-print print">Chi tiết</button>
                        </div>
                        <br /><br />
                    </div>
                }

            }

            <br /><br />

        </div>


        
        <div style="clear:both"></div>

    </div><br />
   
    <div class="form-group col-md-12" style="text-align:center">

        <label>Tổng tiên thanh toán : </label><span style="font-weight:bold; color:red;font-size:20px" id="tienthanhtoan"></span><span style="font-weight:bold; color:red;font-size:20px"> VNĐ</span>
    </div>
    <div class="form-group col-md-12" style="text-align:center">

        <button type="submit" class="btn btn-success hidden-print" >Thanh toán</button>
    </div>
</form>

<div class="modal fade" id="thuocModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label id="title"></label></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-5">
                            <input type="hidden" class="form-control" id="Id" />
                            <label>Mã thuốc</label>
                            <input type="text" id="mathuoc" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Tên thuốc</label>
                            <input type="text" id="tenthuoc" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Đơn vị tính</label>
                            <input type="text" id="donvitinh" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Nhà sản xuất</label>
                            <input type="text" id="NhaSanXuat" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Ngày sản xuất</label>
                            <input type="text" id="NgaySanXuat" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Số lượng thuốc</label>
                            <input type="text" id="SoLuongThuoc" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Giá</label>
                            <input type="text" id="GiaThuoc" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Hạn sử dụng</label>
                            <input type="text" id="HanSuDung" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section script{
    <script>
            $(document).ready(function () {
                $('.dsthuoc').select2();

            });
    </script>




}

<script>

        
        

        $("#them").click(function () {
            var s = '<div class="form-group col-md-12"></div> <div ><div class="form-group col-md-5"><b>Tên Thuốc sử dụng</b><select class="form-control dsthuoc" name="dsthuoc"></select></div> <div class="form-group col-md-2 "> <b>Số lượng :</b> <input class="form-control soluong" name="soluong" type="number" onkeypress="return event.charCode >= 48" min="1" required/></div><div class="form-group col-md-3"> <b>Số Liều dùng :</b> <input class="form-control lieudung" name="lieudung" required/></div><div class="form-group col-md-1"> <br /> <button type="button" class="btn btn-danger xoa" id="xoa" onclick="xoathuoc()">Xóa</button></div><div class="form-group col-md-1"><br /><button type="button" class="btn btn-info chitiet">Chi tiết</button></div><br /><br /> </div>'

            $("#bangthuoc").append(s)
            $('.dsthuoc').select2();

            $.ajax({
                url: "@Url.Action("dsthuocjson", "BacSi")",
                type: "GET",

            dataType: "json",

            success: function (data, textStatus, jqXHR) {
                $.each(data, function (i, item) {
                    $('.dsthuoc').last().append($('<option>', {
                        value: item.MaThuoc,
                        text : item.TenThuoc
                    }));
                });

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
        })
        /////////////
        $(document).on('click','.chitiet', function (e) {
            var $row = $(this).parent().parent().children();
            var id = $row.find('select[name="dsthuoc"]').val();
            $.ajax({
                url: "@Url.Action("dsthuocjson", "BacSi")",
                type: "GET",

            dataType: "json",

            success: function (data, textStatus, jqXHR) {
                $.each(data, function (i, item) {
                    if(item.MaThuoc == id)
                    {
                        $("#mathuoc").val(id);
                        $("#tenthuoc").val(item.TenThuoc);
                        $("#donvitinh").val(item.DonVitinh);
                        $("#NhaSanXuat").val(item.NhaSanXuat);
                        var date = new Date(parseInt(item.NgaySanXuat.substr(6)));
                        $("#NgaySanXuat").val(date);
                        $("#SoLuongThuoc").val(item.SoLuongThuoc);
                        $("#GiaThuoc").val(item.GiaThuoc);
                        $("#HanSuDung").val(item.HanSuDung);

                    }
                });

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
        $("#thuocModal").modal('show');
        });


        /////////////
        $(document).on('click', '.xoa', function (e) {
            $(this).parent().parent().remove();
        });


        $(document).ready(function () {
           
            var a = new Array();
            $(".myVar").each(function (index) {
                a.push($(this).val());
            });


            $.ajax({
                url: "@Url.Action("dsthuocjson", "BacSi")",
                type: "GET",

                dataType: "json",

                success: function (data, textStatus, jqXHR) {
                    $.each(data, function (i, item) {
                        $('.dsthuoc').append($('<option>', {
                            value: item.MaThuoc,
                            text: item.TenThuoc

                        }));


                    });
                    /////
                    var iss = 0
                    $(".dsthuoc").each(function (index) {
                        $(this).val(a[iss]);
                        iss = iss + 1;
                    });


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });
            var tong = 0;
            $(".tongtien").each(function (index) {
                tong = tong + parseInt($(this).val());
                var tien = parseInt($(this).val());
                var tienphay = Number(tien).toLocaleString('en', { useGrouping: true });
                
                $(this).val(tienphay);
                
            });
            var tongphay = Number(tong).toLocaleString('en', {useGrouping:true});
            $("#tienthanhtoan").html(" "+tongphay);

        });




</script>












